flask
flask-cors
pydicom
torch==2.1.0 -i https://download.pytorch.org/whl/cu118
torchaudio==2.1.0 -i https://download.pytorch.org/whl/cu118
torchvision==0.16.0 -i https://download.pytorch.org/whl/cu118
ultralytics